@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
  margin: 0px;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0px;
  background-color: black;
  text-align: center;
  font-family: 'Aboreto', cursive;
  font-size: 30px;
  color: white;
}

