@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

    body {
      margin: 0px;
    }

    header {
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 0px;
      background-color: black;
      text-align: center;
      font-family: 'Aboreto', cursive;
      font-size: 20px;
      color: white;
    }
        
    main {
      padding-top: 70px;
      padding-bottom: 70px;
      height: 3200px;
      background-image: url('imagens/fundo-principal.jpg');
      background-position: center;
      }

    section {
      margin-top: 35px;
      margin-bottom: 35px;
    }

    section#recibo {
      padding: 15px 20px 15px 20px;
      margin: auto;
      background-color: #FDF5AB;
      height: 650px;
      width: 250px;
      border: 2px solid black;
      border-radius: 20px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.648);
      color: black;
    }

    article#cliente {
      padding: 15px 20px 15px 20px;
      margin: auto;
      margin-bottom: 35px;
      background-color: white;
      height: 140px;
      width: 250px;
      border: 2px solid black;
      border-radius: 20px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.648);
      color: black;
    }

    article#geral {
      padding: 15px 20px 15px 20px;
      margin: auto;
      background-color: white;
      height: 320px;
      width: 250px;
      border: 2px solid black;
      border-radius: 20px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.648);
      color: black;
    }

    article#botao {
      text-align: center;
    }

    article#recibo {
      font-family: 'Aboreto', cursive;
      font-size: 16px;
      text-align: center;
    }

    form {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    p#mini-titulo {
      font-family: 'Aboreto', cursive;
      font-size: 16px;
      text-align: center;
    }

    select {
      text-align: center;
      margin-top: 3px;
    }

    input#nome{
      text-align: center;
    }

    input#ibotao{
      margin-bottom: 70px;
      height: 40px;
      width: 110px;
      border-radius: 30px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.648);
      font-family: 'Aboreto', cursive;
      font-weight: bolder;
    }

    input#ibotao:hover {
      background-color: black;
      color: white;
    }

    input#ibotao2{
      margin-bottom: 70px;
      height: 40px;
      width: 110px;
      border-radius: 30px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.648);
      font-family: 'Aboreto', cursive;
      font-weight: bolder;
    }

    input#ibotao2:hover {
      background-color: black;
      color: white;
    }

    footer {
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0px;
      background-color: black;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: white;
    }